.DS_Store
.vscode/

build/
build_isolated/
devel/
devel_isolated/
logs/

bin/
lib/
msg_gen/
srv_gen/

*.pyc
__pycache__/
*~

CATKIN_IGNORE

src/sagittarius_arm_ros/sagittarius_perception/sagittarius_object_color_detector/config/*.bak_*
ttyACM0
